@import "../../../shared/variables";

:host {
  align-self: center;
  font-size: 1rem;
}

.image-container {
  width: 15rem;
  height: 15rem;
  margin-top: 1rem;
  @include base-shadow(0.3rem, 0.4rem, null);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  input {
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  &:hover label {
    color: $punchy-color;
  }

  span {
    font-style: italic;
    font-size: 0.8rem;
  }

  img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
  }
}
