@import "../../../shared/variables";

:host {
  align-self: center;
  width: 200px;
  height: 200px;
}

.image-container {
  height: 100%;
  margin-top: 1rem;
  padding: 2rem;
  box-shadow: $base-shadow;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  input {
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  &:hover label {
    color: $punchy-color;
  }

  span {
    font-style: italic;
    font-size: 0.8rem;
  }

  img {
    max-height: 100px;
  }
}
