@import "../../../shared/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

h2 {
  padding-top: 12rem;
  outline: none;
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: $base-color;
  @include text-shadow(0.2rem, 0.2rem, null);
  margin-bottom: 5rem;
}

.post-container {
  max-width: 1000px;
}

// TABLET
@media screen and (max-width: 800px) {
  h2 {
    padding-top: 3rem;
    font-size: 5rem;
    margin-bottom: 4rem;
  }
}

// PHONES
@media screen and (max-width: 500px) {
  h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
