@import "../../../shared/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding-top: 12rem;
  outline: none;
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: $base-color;
  @include text-shadow(0.2rem, 0.2rem, null);
  margin-bottom: 5rem;
}

.post-container {
  max-width: 1000px;
}
