@import "../../../shared/variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  padding: 30px;
  width: 100vw;

  background-color: $second-color;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 950px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 20px;
}
