<nav class="container">
  <div>
    <a class="logo" routerLink="/">
      <img src="../../../../assets/Groupomania_Logos/Logo_seul.svg" />
      <h1>Groupomania</h1>
    </a>
  </div>
  <div class="add-post-container">
    <app-add-post title="Ajouter un post"></app-add-post>
  </div>
  <div>
    <div class="auth-menu-container" *ngIf="isAuth$ | async; else notauth">
      <img [src]="userImage$ | async" (click)="openSubMenu()" />
      <ul #submenu class="sub-menu">
        <a routerLink="/user"><li>Mon compte</li></a>
        <a routerLink="/login" (click)="logout()"><li>Déconnexion</li></a>
      </ul>
    </div>
    <ng-template #notauth>
      <ul>
        <a routerLink="/login"><li routerLinkActive="active">Connexion</li></a>
        <a routerLink="/signup"
          ><li routerLinkActive="active">Inscription</li></a
        >
      </ul>
    </ng-template>
  </div>
</nav>
