<nav class="container">
  <div class="logo">
    <img src="../../../../assets/Groupomania_Logos/Logo_seul.svg" />
    <h1><a routerLink="/">Groupomania</a></h1>
  </div>
  <div>
    <ul *ngIf="isAuth$ | async; else auth">
      <li>
        <a routerLink="/connect/login" (click)="logout()">Se déconnecter</a>
      </li>
    </ul>
    <ng-template #auth>
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/connect/login">Connexion</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/connect/signup">Inscription</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
