@import "../../../shared/variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  padding: 30px;
  width: 100vw;

  background-color: $base-color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 950px;

    a {
      text-decoration: none;
      color: $base-font-color;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;

      img {
        max-height: 35px;
        margin-right: 0.8rem;
      }

      h1 {
        margin: 0;
      }

      a {
        color: $neutral-color;

        &:hover {
          color: $punchy-color;
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
    }

    li {
      box-shadow: $base-shadow;
      padding: 10px;
      margin-left: 20px;
      border-radius: 5px;

      a:hover {
        color: $punchy-color;
      }
    }

    .active {
      box-shadow: $base-shadow-inset;

      a {
        color: $punchy-color;
      }
    }
  }
}
