@import "../../../shared/variables";

:host {
  position: fixed;
  z-index: 1;

  background-color: $lighter-color;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  padding: 2.2rem;
  width: 100vw;

  box-shadow: 0 8px 6px -6px rgba(51, 51, 51, 0.274);

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 950px;

    a {
      text-decoration: none;
      color: $base-font-color;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;

      img {
        max-height: 2.5rem;
      }

      h1 {
        margin: 0;
        padding-left: 0.5rem;
      }

      a {
        color: $neutral-color;
        &:hover {
          color: $punchy-color;
        }
      }
    }

    .auth-menu-container {
      position: relative;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        max-height: 2.5rem;
        max-width: 2.5rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          scale: 1.05;
        }
      }

      .sub-menu {
        display: none;
        z-index: 2;
        position: absolute;
        top: 4rem;
        right: -50%;
        width: 12rem;

        li {
          box-shadow: none;
          margin: 0.3rem;
          font-size: 1rem;
          background-color: $neutral-color-2;
          color: $base-color;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
    }

    li {
      @include base-shadow(0.1rem, 0.3rem, null);
      padding: 0.7rem 1.5rem;
      margin-left: 1rem;
      border-radius: 5px;

      a:hover {
        color: $punchy-color;
      }
    }

    .active {
      @include base-shadow(0.2rem, 0.4rem, inset);
      color: $punchy-color;
    }
  }
}

// PHONES
@media screen and (max-width: 800px) {
  :host {
    bottom: 0;

    box-shadow: 0 -6px 6px -6px rgba(51, 51, 51, 0.548);
  }

  .logo {
    img {
      height: 2.5rem;
    }
    h1 {
      display: none;
    }
  }

  .container {
    .sub-menu {
      top: auto !important;
      left: auto !important;
      right: -1rem !important;
      bottom: 6rem !important;

      li {
        background-color: $neutral-color-2;
        color: $base-color;

        margin: 0.3rem;
      }
    }

    .add-post-container {
      position: absolute;
      scale: 1;
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      top: -33%;
      left: 50%;
    }
  }
}
