<nav class="container">
  <div class="logo">
    <img src="../../../../assets/Groupomania_Logos/Logo_seul.svg" />
    <h1><a routerLink="/">Groupomania</a></h1>
  </div>
  <div>
    <div class="auth-menu-container" *ngIf="isAuth$ | async; else notauth">
      <img [src]="userImage$ | async" (click)="openSubMenu()" />
      <ul #submenu class="sub-menu">
        <li>
          <a routerLink="/user">Mon compte</a>
        </li>
        <li>
          <a routerLink="/login" (click)="logout()">Déconnexion</a>
        </li>
      </ul>
    </div>
    <ng-template #notauth>
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/login">Connexion</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/signup">Inscription</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
