@import "../../../shared/variables";

:host {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 5vw;
  margin-bottom: 5vh;
  z-index: 1;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 5rem;
  color: $neutral-color;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: $base-color;
  @include base-shadow(0.4rem, 0.5rem, null);

  &:hover {
    color: $punchy-color;
  }

  &:active {
    @include base-shadow(0.2rem, 0.4rem, inset);
  }
}
