// Mixins
@mixin base-shadow($size, $blur, $inset) {
  box-shadow: ($inset) (-$size) (-$size) ($blur) #ffffff,
    ($inset) ($size) ($size) ($blur) #c6cdd8;
  border: 0.05rem solid $base-border;
}

@mixin second-shadow($size, $blur, $inset) {
  box-shadow: ($inset) (-$size) (-$size) ($blur) #0b3663,
    1px 1px 0px rgba(0, 26, 51, 0.541), ($inset) ($size) ($size) ($blur) #0f4885;
  // border: 0.05rem solid $base-border;
}

@mixin text-shadow($size, $blur, $inset) {
  text-shadow: ($inset) (-$size) (-$size) ($blur) #ffffff,
    ($inset) ($size) ($size) ($blur) #bec5d1;
}

// Colors
$base-color: #ecf0f3;
$lighter-color: #ecf0f3;
$base-border: #fafdff;
$neutral-color: #174f8a;
$neutral-color-2: #092f58;
$punchy-color: #cf4350;

// Font colors
$base-font-color: #1a1b1e;
$lighter-font-color: #8e919b;
$second-font-color: #6fa2d8;
