// Dark colors
$base-color: #131419;
$second-color: #292929;
$punchy-color: #00ffff;
$base-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
  5px 5px 15px rgba(0, 0, 0, 0.5);
$base-shadow-inset: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
  inset 2px 2px 6px rgba(0, 0, 0, 0.8);

// Font colors
$base-font-color: #c7c7c7;
$second-font-color: #7c7c7c;

// Light colors
// $base-light-color: #f3f0f1;
// $light-clear-color: rgba(255, 255, 255, 0.8);
// $light-shaddow-color: rgba(0, 0, 0, 0.2);
