<form [formGroup]="form" (ngSubmit)="addPost()">
  <!-- CONTENT -->
  <div class="form-group">
    <label>Contenu :</label>
    <input formControlName="content" type="text" />
  </div>
  <!-- IMAGE LOADER -->
  <div class="image-container">
    <img
      [src]="imageUrlReader"
      *ngIf="form.get('imageUrl').value; else empty"
    />
    <ng-template #empty>
      <label
        >Choisir une Image <br />
        <span>(optionnelle)</span></label
      >
    </ng-template>
    <input type="file" (change)="onFileChange($event)" />
  </div>
  <button type="submit">Poster</button>
</form>
