@import "../../../shared/variables";

:host {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 1rem;
  width: 100%;
}

h1 {
  text-align: center;
}

a {
  cursor: pointer;
  &:hover {
    color: $punchy-color;
  }
}
