@import "../../../shared/variables";

:host {
  margin: 0;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  padding: 0 2rem;
}

button {
  margin-top: 1rem;
  width: 100%;
}

h1 {
  margin: 3rem 0;
  font-size: 4rem;
  text-align: center;
  color: $base-color;
  @include text-shadow(0.1rem, 0.1rem, null);
}

a {
  cursor: pointer;
  &:hover {
    color: $punchy-color;
  }
}
