@import "../../../shared/variables";

:host {
  width: 70vw;
  max-width: 1000px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  padding: 0 2rem;
  overflow-x: hidden;
}

h1 {
  margin: 3rem 0;
  font-size: 2.5rem;
  text-align: center;
  color: $neutral-color;
}

div[mat-dialog-content] {
  font-size: 1.1rem;
}

a {
  cursor: pointer;
  &:hover {
    color: $punchy-color;
  }
}

.btn-container {
  margin-bottom: 2rem;

  button {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;

    justify-self: self-end;

    font-size: 1.2rem;

    @include base-shadow(0.3rem, 0.4rem, null);

    &:active {
      @include base-shadow(0.4rem, 0.8rem, inset);
    }
  }

  button.primary-btn {
    background-color: $base-color;
    color: $punchy-color;

    &:active {
      color: $neutral-color;
    }
  }

  button.secondary-btn {
    background-color: $base-color;
    color: black;

    &:active {
      color: $neutral-color;
    }
  }
}

@media screen and (max-width: 800px) {
  :host {
    min-width: 80vw;
    max-height: 90vh;
  }
  h1 {
    margin: 2rem 0;
    font-size: 1.7rem;
  }
  div[mat-dialog-content] {
    font-size: 1rem;
  }
}
