<!-- AUTHFORMS INVALID -->
<ng-container *ngIf="data.authFormInvalid">
  <h1 mat-dialog-title>Saisie incorrecte</h1>
  <div mat-dialog-content>
    <p>Veuillez réessayer en apportant les modifications nécessaires.</p>
    <p>
      Si le problème persiste, veuillez contacter le service des Ressources
      Humaines.
    </p>
    <div class="btn-container">
      <button (click)="closeModal()">OK</button>
    </div>
  </div>
</ng-container>
<!-- LOGIN ERRORS -->
<ng-container *ngIf="data.loginError">
  <h1 mat-dialog-title>{{ data.loginError.error }}</h1>
  <div mat-dialog-content>
    <p>
      Vous n'avez pas encore de compte ?
      <a (click)="signup()"><strong>Créer un compte</strong></a>
    </p>
    <p>
      Si vous possédez un compte et que ce problème persiste, veuillez contacter
      le service des Ressources Humaines.
    </p>
    <div class="btn-container">
      <button (click)="closeModal()">OK</button>
    </div>
  </div>
</ng-container>
<!-- SIGNUP ERRORS -->
<ng-container *ngIf="data.signupError">
  <h1 mat-dialog-title>{{ data.signupError.error }}</h1>
  <div mat-dialog-content>
    <p>
      Avez-vous déjà un compte ?
      <a (click)="login()"><strong>Se connecter</strong></a>
    </p>
    <p>
      Si cet e-mail vous appartient et que vous ne possédez pas de compte,
      veuillez contacter le service des Ressources Humaines.
    </p>
    <div class="btn-container">
      <button (click)="closeModal()">OK</button>
    </div>
  </div>
</ng-container>
<!-- SIGNUP CONFIRM -->
<ng-container *ngIf="data.signupConfirm">
  <h1 mat-dialog-title>Profil créé</h1>
  <div mat-dialog-content>
    <p>
      Bienvenue {{ data.signupConfirm.firstName }} ! <br />
      Vous pouvez dès maintenant interagir avec vos collègues.
    </p>
    <div class="btn-container">
      <button (click)="closeModal()">OK</button>
    </div>
  </div>
</ng-container>
<!-- ADD POST -->
<ng-container *ngIf="data.addPost">
  <h1 mat-dialog-title>Partagez vos idées</h1>
  <div class="addpost" mat-dialog-content>
    <app-post-form (closeModal)="closeModal()"></app-post-form>
  </div>
</ng-container>
<!-- DELETE POST -->
<ng-container *ngIf="data.deletePost">
  <h1 mat-dialog-title>Supprimer</h1>
  <div mat-dialog-content>
    <p>Êtes-vous sûr de vouloir supprimer ce post ?</p>
    <div class="btn-container">
      <button>Oui</button>
      <button>Non</button>
    </div>
  </div>
</ng-container>
