@import "../../../shared/variables";

:host {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5vw;
  margin-bottom: 5vh;
  z-index: 1;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.5rem;
  height: 3.5rem;
  background-color: $neutral-color;
  box-shadow: $base-shadow;
  color: $base-color;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $punchy-color;
  }
}
