<div class="card">
  <div class="card-header">
    <div class="card-header-creator">
      <img
        class="card-header-creator-img"
        height="40px"
        [src]="postInfo.Creator.imageUrl"
        alt="profile-picture"
      />
      <p>{{ postInfo.Creator.firstName | titlecase }}</p>
      <p>{{ postInfo.Creator.lastName | uppercase }}</p>
    </div>
    <div (click)="deletePost()" class="card-header-delete" *ngIf="canModify()">
      <p>X</p>
    </div>
  </div>
  <div class="card-content">
    <p [innerHTML]="postInfo.content"></p>
    <ng-container *ngIf="postInfo.imageUrl">
      <img height="100px" src="{{ postInfo.imageUrl }}" />
    </ng-container>
  </div>
  <div class="card-footer">
    <div #like class="card-footer-cta card-footer-like" (click)="addLike(like)">
      Aimer
    </div>
    <div
      #comments
      class="card-footer-cta card-footer-comment"
      (click)="openComments(comments)"
    >
      Commentaires({{ postInfo.Comments.length }})
    </div>
  </div>
  <div *ngIf="commentSectionOpened" class="card-comments">
    <p>Je suis la section des commentaires</p>
  </div>
</div>
