@import "../../../shared/variables";

:host {
  min-width: 50%;
  max-width: 80%;
}
.card {
  margin-bottom: 0.5rem;
  position: relative;
  background-color: $base-color;
  @include base-shadow(0.1rem, 0.1rem, inset);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: 1rem;
  }

  &-header {
    padding: 0.8rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    color: $second-font-color;
    border-bottom: solid 1px white;

    &-creator {
      display: flex;
      align-items: center;
      text-align: center;
      &-img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin-right: 1rem;
      }
      &-name {
        font-weight: bold;
        margin: 0 1rem 0 0 !important;
      }
    }

    &-delete {
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      height: 70%;
      width: 70%;
      cursor: pointer;

      &:hover {
        fill: $punchy-color;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    p {
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
    }

    &-text {
      padding: 1rem;
      margin: 0;
      white-space: pre-wrap;
    }

    &-date {
      padding: 0 1rem 1rem 0;
      align-self: flex-end;
      font-style: italic;
      color: $lighter-font-color;
    }
  }
}
